/* ----------------------------------------------------- 
*\ Colors \*
 ----------------------------------------------------- */
/* Base ----------------------------------------- */
$colors-base-white: #ffffff;
/* Gray ----------------------------------------- */
$colors-gray-cool-200: #dcdfea;
$colors-gray-cool-300: #b9c0d4;
$colors-gray-cool-600: #4a5578;
$colors-gray-cool-700: #404968;
$colors-gray-cool-900: #111322;
/* Brand ----------------------------------------- */
$colors-brand-200: #e9d7fe;
$colors-brand-400: #b692f6;
$colors-brand-600: #7f56d9;
$colors-brand-700: #6941c6;
$colors-brand-800: #53389e;

/* ----------------------------------------------------- 
*\ Containers \*
 ----------------------------------------------------- */
$bp-sm: 480px;
$bp-md: 960px;
$bp-lg: 1440px;

/* ----------------------------------------------------- 
*\ Spacing \*
 ----------------------------------------------------- */
$container-padding-mobile: 1.6rem;
$container-padding-desktop: 3.2rem;

/* ----------------------------------------------------- 
*\ Radius \*
 ----------------------------------------------------- */
$radius-none: 0rem;
$radius-xxs: 0.125rem;
$radius-xs: 0.25rem;
$radius-sm: 0.375rem;
$radius-md: 0.5rem;
$radius-lg: 0.625rem;
$radius-xl: 0.75rem;
$radius-2xl: 1rem;
$radius-3xl: 1.25rem;
$radius-4xl: 1.5rem;
$radius-full: 624.9375rem;

/* ----------------------------------------------------- 
*\ Transition \*
 ----------------------------------------------------- */
$transition__default: 0.3s;
